html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url("../images/fabric.png");
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
}

.nav-bar {
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: right;
  padding-left: 0;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar li a {
  text-decoration: none;
  margin: 0 30px;
  color: #777;
  font-size: 18px;
}

.nav-bar > li ~ li {
  border-left: 0.5px solid #777;
}   

.nav-heading a:hover {
  color: #4aaaa5;
}

.nav-name {
  background: #4aaaa5;
  padding: 20px 20px;
  margin: 0;
  margin-left: 30px;
  color: #fff;
  display: block;
  float: left;
}

.foot-bar {
  border-top: 8px solid #4aaaa5;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #777;
  height: 50px;
  overflow: hidden;
}

.foot-bar h6 {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: -10px;
}

.container {
  box-sizing: border-box;
  width: 950px;
  margin: 20px 0 80px 30px;
  background: #fff;
  padding: 20px 50px;
}

.container h2 {
  color: #4aaaa5;
  margin-top: 20px;
}

.container hr {
 border-top: 1px solid #D3D3D3;
}

.about-image {
  float: left;
  margin: 15px;
  margin-left: 0;
  width: 200px;
  height: 200px;
}

.about-para {
  line-height: 1.5em;
  color: #777;
}

.container-form {
  margin-top: 20px;
}

input[type=text] {
  width: 100%;
  margin: 5px 0 10px 0;
  padding: 5px 10px;
  color: #777;
  box-sizing: border-box;
}

input[type=submit] {
  background: #4aaaa5;
  padding: 10px 20px;
  margin: 10px 0;
  color: #fff;
  cursor: pointer;
}

.form-data {
  color: #777;
  display: block;
}

.form-format {
  border: 1px solid #D3D3D3;
}

.msg-form {
  height: 200px;
  resize: vertical;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
  border: 1px solid #D3D3D3;
}

.row {
  margin-top: 25px;
}

.col {
  box-sizing: border-box;
  float: left;
  position: relative;
}

.col h5 {
  font-weight: lighter;
  font-size: 14px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: -10px;
  text-align: center;
  background: #4aaaa5;
  color: #fff;
  padding: 7.5px ;
}

.col img {
  width: 225px;
  height: 175px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-margin {
  margin-left: 50px;
}

@media screen and (max-width: 980px) {
  .container {
    width: auto;
    margin: 20px 30px 80px 30px;
  } 
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
    margin: 20px 15px 80px 15px;
  }

  .nav-name {
    margin-left: 15px;
  }
}

@media screen and (max-width: 640px) {
  .nav-name {
    margin-left: 0px;
    float: none;
    text-align: center;
  }

  .nav-bar {
    text-align: center;
  }

  .container {
    margin: 20px 15px 80px 15px;
    width: auto;
  }

  .about-image {
    float: none;
    margin: 15px;
    margin-left: 0;
    width: 200px;
    height: 200px;
  }

  .col {
    float: none;
  }

  .col-margin {
    margin-left: 0;
    margin-top: 25px;
  }

  .col h5 {
    width: 225px;
}

@media screen and (max-width: 370px) {
  .nav-bar {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .nav-bar li {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .nav-bar li a {
    text-decoration: none;
    margin: 0 30px;
    color: #777;
    font-size: 18px;
  }

  .nav-bar > li ~ li {
    border-left: none;
  }

  .container {
    width: auto;
    margin: 20px auto 80px auto;
  }
}